*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

.center {
  text-align: center;
}

.m10px {
  margin: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

.header__accueil {
  width: 100%;
  height: 100vh;
  background: grey url("../../../img/accueil/img-accueil-header.jpg");
  background-size: cover;
}

.header__accueil__title {
  margin-top: 180px;
}

.header__portfolio {
  width: 100%;
  height: 40vh;
  background-color: green;
}

.header__contact {
  width: 100%;
  height: 50vh;
  background: grey url("../../../img/bg-contact.jpg");
  background-size: cover;
  background-position-y: center;
}

.header__contact__title {
  margin-top: 25px;
  color: white;
}

footer {
  margin-top: 50px;
}

.accueil__footer__contact {
  display: flex;
  flex-direction: column;
}

.right {
  text-align: right;
}

.form__contact {
  margin-top: 50px;
  padding-top: 20px;
  background-color: #5B696B;
  color: white;
  border-radius: 10px;
}

.galerie__accueil__prestation {
  display: flex;
  max-width: 1300px;
  margin: 70px auto 0;
  flex-wrap: wrap;
  justify-content: center;
}

.items img {
  width: 100%;
  height: auto;
}

.items {
  width: 300px;
  height: 200px;
  margin: 10px;
  overflow: hidden;
  flex-shrink: 0;
}

.btn__section__accueil {
  background-color: #5B696B;
  color: white;
  box-shadow: 0px 5px 20px #080a0a;
  /* btn menu*/
}

.custom-toggler.navbar-toggler {
  border: solid white 2px;
  margin-right: 10px;
}

.btn-form {
  background-color: rgba(251, 138, 1, 0.8431372549);
  color: white;
  margin: 30px;
}

.section__accueil__about {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.title_presentation {
  margin-bottom: 50px;
}

.body_presentation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accueil_photo_charles {
  width: 200px;
  height: 200px;
}

.section__prestations__accueil {
  background: grey url("../../../img/accueil/bg-section-prestation.jpg");
  background-size: cover;
}

.background__accueil__prestation {
  width: 80%;
  margin: auto;
  height: auto;
  background: white;
}

.card__accueil__title {
  background-color: rgba(251, 138, 1, 0.8431372549);
  color: white;
}

.card__accueil__prestations {
  width: 18rem;
  height: auto;
  box-shadow: 0px 5px 20px #080a0a;
}

.card__accueil__prestations:hover .card__accueil__img img {
  width: 160%;
  filter: grayscale(0);
}

.card__accueil__img {
  height: 300px;
  position: relative;
  overflow: hidden;
}

.card__accueil__img img {
  width: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(1);
  transition-property: filter width;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.wrapper {
  margin: 10px;
}

.wrapper nav {
  display: flex;
  justify-content: center;
}

nav .items__portfolio {
  display: flex;
  max-width: 720px;
  width: 100%;
  justify-content: space-between;
}

nav .items__portfolio .item__portfolio {
  padding: 7px 25px;
  font-size: 18px;
  font-weight: 500;
  color: red;
  border: 2px solid red;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

nav .items__portfolio .active,
nav .items__portfolio .item__portfolio:hover {
  color: white;
  background: red;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.image {
  width: 33.3333333333%;
  padding: 7px;
}

.image.hide {
  display: none;
}

.image.show {
  -webkit-animation: animate 0.4s ease;
          animation: animate 0.4s ease;
}

@-webkit-keyframes animate {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animate {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.image span {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.image img {
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
}

.image:hover img {
  transform: scale(1.1);
}/*# sourceMappingURL=styles.css.map */