.btn__section__accueil 
    background-color: #5B696B
    color: white
    box-shadow: 0px 5px 20px #080a0a


    /* btn menu*/
.custom-toggler.navbar-toggler
    border: solid white 2px
    margin-right: 10px

.btn-form
    background-color: #fb8a01d7 
    color: white
    margin: 30px
    
    