.header__contact
    width: 100%
    height: auto
    background: grey url('../../../img/bg-contact.jpg') 
    background-size: cover
    background-position-y: center

.header__contact__title
    padding: 50px
    margin: auto 0px
    color: $white
    



